<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727123687182-5adpp95oos7dgquhuhiv4qc5g0lm4q87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727123687182-5adpp95oos7dgquhuhiv4qc5g0lm4q87</string>
	<key>API_KEY</key>
	<string>AIzaSyCnG1zyM9Nb-JqnaLj3snuAV0wnosfmaXs</string>
	<key>GCM_SENDER_ID</key>
	<string>727123687182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>proyectoestacionamiento-958e3</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoestacionamiento-958e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727123687182:ios:62503c623c163904f5895f</string>
</dict>
</plist>